@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .border-light {
      @apply  border-[1.5px] border-slate-700;
    }
  }

/*----- To remove the background color fill on autofilling an input field -----*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px var(--input-box-shadow-color, #ffffff00) inset;
}

body{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
}

/*----- Preventing text selection on site for particular elements ------*/
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hero{
  background-image: url('./assets/homePageAssets/coverImg.png');
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: cover;
}